<!doctype html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- My CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- fontawesome -->
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

    <title>フォロー</title>
  </head>
  <body>
    <!-- header -->
    <nav class="header navbar navbar-expand-md navbar-light sticky-top">
      <a class="navbar-brand" href="#"><img class="logo" src="img/soc_logo.png" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link mr-2" href="#">スタクラとは？</a>
          <a class="nav-item nav-link mr-2" href="#">マイページ</a>
          <a class="nav-item nav-link" href="#">ログアウト</a>
        </div>
      </div>
    </nav>

    <!-- main -->
    <div class="container users-container">
      <div class="users-header mt-5">
        <button class="btn btn-outline-primary">←</button>
        <div class="h4 d-inline align-middle ml-3">つばさ</div>
      </div>
      <div class="users mt-4">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-3 col-md-2">
                <img src="img/icon.png" alt="" class="img-thumbnail rounded-circle">
              </div>
              <div class="col-9 col-md-10">
                <div class="card-title">
                  <div class="row">
                    <div class="col-8">
                      りょう
                    </div>
                    <div class="col-4 p-0">
                      <button class="btn btn-primary btn-sm">
                        <div class="small">フォロー</div>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="card-text small">
                      こんにちは。りょうと申します。これからコツコツと勉強会を開催したり参加したりします。よろしくお願いします。
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-3 col-md-2">
                <img src="img/icon.png" alt="" class="img-thumbnail rounded-circle">
              </div>
              <div class="col-9 col-md-10">
                <div class="card-title">
                  <div class="row">
                    <div class="col-8">
                      りょう
                    </div>
                    <div class="col-4 p-0">
                      <button class="btn btn-primary btn-sm">
                        <div class="small">フォロー</div>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="card-text small">
                      こんにちは。りょうと申します。これからコツコツと勉強会を開催したり参加したりします。よろしくお願いします。
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-3 col-md-2">
                <img src="img/icon.png" alt="" class="img-thumbnail rounded-circle">
              </div>
              <div class="col-9 col-md-10">
                <div class="card-title">
                  <div class="row">
                    <div class="col-8">
                      りょう
                    </div>
                    <div class="col-4 p-0">
                      <button class="btn btn-primary btn-sm">
                        <div class="small">フォロー</div>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="card-text small">
                      こんにちは。りょうと申します。これからコツコツと勉強会を開催したり参加したりします。よろしくお願いします。
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-3 col-md-2">
                <img src="img/icon.png" alt="" class="img-thumbnail rounded-circle">
              </div>
              <div class="col-9 col-md-10">
                <div class="card-title">
                  <div class="row">
                    <div class="col-8">
                      りょう
                    </div>
                    <div class="col-4 p-0">
                      <button class="btn btn-primary btn-sm">
                        <div class="small">フォロー</div>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="card-text small">
                      こんにちは。りょうと申します。これからコツコツと勉強会を開催したり参加したりします。よろしくお願いします。
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-3 col-md-2">
                <img src="img/icon.png" alt="" class="img-thumbnail rounded-circle">
              </div>
              <div class="col-9 col-md-10">
                <div class="card-title">
                  <div class="row">
                    <div class="col-8">
                      りょう
                    </div>
                    <div class="col-4 p-0">
                      <button class="btn btn-primary btn-sm">
                        <div class="small">フォロー</div>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="card-text small">
                      こんにちは。りょうと申します。これからコツコツと勉強会を開催したり参加したりします。よろしくお願いします。
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-3 col-md-2">
                <img src="img/icon.png" alt="" class="img-thumbnail rounded-circle">
              </div>
              <div class="col-9 col-md-10">
                <div class="card-title">
                  <div class="row">
                    <div class="col-8">
                      りょう
                    </div>
                    <div class="col-4 p-0">
                      <button class="btn btn-primary btn-sm">
                        <div class="small">フォロー</div>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="card-text small">
                      こんにちは。りょうと申します。これからコツコツと勉強会を開催したり参加したりします。よろしくお願いします。
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-3 col-md-2">
                <img src="img/icon.png" alt="" class="img-thumbnail rounded-circle">
              </div>
              <div class="col-9 col-md-10">
                <div class="card-title">
                  <div class="row">
                    <div class="col-8">
                      りょう
                    </div>
                    <div class="col-4 p-0">
                      <button class="btn btn-primary btn-sm">
                        <div class="small">フォロー</div>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="card-text small">
                      こんにちは。りょうと申します。これからコツコツと勉強会を開催したり参加したりします。よろしくお願いします。
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-3 col-md-2">
                <img src="img/icon.png" alt="" class="img-thumbnail rounded-circle">
              </div>
              <div class="col-9 col-md-10">
                <div class="card-title">
                  <div class="row">
                    <div class="col-8">
                      りょう
                    </div>
                    <div class="col-4 p-0">
                      <button class="btn btn-primary btn-sm">
                        <div class="small">フォロー</div>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="card-text small">
                      こんにちは。りょうと申します。これからコツコツと勉強会を開催したり参加したりします。よろしくお願いします。
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- footer -->
    <footer class="footer mt-5">
      <div class="text-center">
        <div class="text-muted py-3">&copy; 2020 SYSDOG</div>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
