<%
=begin%>
 <% if message.user_id == session[:user_id] %>
  <div class="mycomment">
    <p><%= message.text %></p>
  </div>
<% else %> 
<%
=end%>
  <div class="balloon6">
    <div class="faceicon">
      <%= image_tag message.user.image.to_s %>
    </div>
    <div class="chatting">
      <div class="says">
        <div class="small text-muted">
          <%= message.user.user_name %>
        </div>
        <p><%= message.text %></p>
      </div>
    </div>
  </div>
<%
=begin%>
 <% end %> 
<%
=end%>
