<h1>Chat Room</h1>
<div id="messages">
<% @messages.each do |message| %>
  <%= render partial: 'chats/message', locals: { message: message } %>
<% end %>
</div>

<%= label_tag :content, 'Say something:' %>
<%= text_field_tag :content, nil, data: { behavior: 'room_speaker' } %>