<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= link_to new_room_path, class: "btn btn-soc1 btn-lg" do %>
  <i class="fas fa-pencil-alt mr-2"></i> つくる
<% end %>
</div>