<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="container my-5">
  <div class="mx-auto max-width-600">
    <div class="h2">勉強会作成</div>
    <div class="mt-4">
      <%= render "rooms/form" %>
    </div>
  </div>
</div>