/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Noto Sans Jp', sans-serif;
  color: #222;
}

.header, .footer {
  background-color: #eee;
}

.logo {
  height: 50px;
}

/* 通常のボタン色 */
.btn-soc1,
.btn-soc1.disabled, .btn-soc1:disabled {
  color: #fff;
  background-color: #1ca18e;
  border-color: #1ca18e;
}

/* focusされた時の枠線の色 */
.btn-soc1:focus, .btn-soc1.focus,
.btn-soc1:not(:disabled):not(.disabled):active:focus, .btn-soc1:not(:disabled):not(.disabled).active:focus,
.show > .btn-soc1.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(28, 161, 142, 0.5);
}

/* hover時（マウスカーソルを重ねた時）の色（通常より濃いor暗めの色を指定）*/
.btn-soc1:hover {
  color: #fff;
  background-color: #178d7b;
  border-color: #178d7b;
}

/* active時の色（hover時と同等かさらに濃いor暗めの色を指定） */
.btn-soc1:not(:disabled):not(.disabled):active, .btn-soc1:not(:disabled):not(.disabled).active,
.show > .btn-soc1.dropdown-toggle {
  color: #fff;
  background-color: #137969;
  border-color: #137969;
}

.btn-outline-soc1 {
  color: #1ca18e;
  background-color: transparent;
  background-image: none;
  border-color: #1ca18e;
}

.btn-outline-soc1:hover,
.btn-outline-soc1:not(:disabled):not(.disabled):active, .btn-outline-soc1:not(:disabled):not(.disabled).active,
.show > .btn-outline-soc1.dropdown-toggle {
  color: #fff;
  background-color: #1ca18e;
  border-color: #1ca18e;
}

.btn-outline-soc1:focus, .btn-outline-soc1.focus,
.btn-outline-soc1:not(:disabled):not(.disabled):active:focus, .btn-outline-soc1:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-soc1.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(28, 161, 142, 0.5);
}

.btn-outline-soc1.disabled, .btn-outline-soc1:disabled {
  color: #1ca18e;
  background-color: transparent;
}

/* 通常のボタン色 */
.btn-soc2,
.btn-soc2.disabled, .btn-soc2:disabled {
  color: #fff;
  background-color: #e39335;
  border-color: #e39335;
}

/* focusされた時の枠線の色 */
.btn-soc2:focus, .btn-soc2.focus,
.btn-soc2:not(:disabled):not(.disabled):active:focus, .btn-soc2:not(:disabled):not(.disabled).active:focus,
.show > .btn-soc2.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(227, 147, 53, 0.5);
}

/* hover時（マウスカーソルを重ねた時）の色（通常より濃いor暗めの色を指定）*/
.btn-soc2:hover {
  color: #fff;
  background-color: #d18631;
  border-color: #d18631;
}

/* active時の色（hover時と同等かさらに濃いor暗めの色を指定） */
.btn-soc2:not(:disabled):not(.disabled):active, .btn-soc2:not(:disabled):not(.disabled).active,
.show > .btn-soc2.dropdown-toggle {
  color: #fff;
  background-color: #be7a2b;
  border-color: #be7a2b;
}

.btn-outline-soc2 {
  color: #e39335;
  background-color: transparent;
  background-image: none;
  border-color: #e39335;
}

.btn-outline-soc2:hover,
.btn-outline-soc2:not(:disabled):not(.disabled):active, .btn-outline-soc2:not(:disabled):not(.disabled).active,
.show > .btn-outline-soc2.dropdown-toggle {
  color: #fff;
  background-color: #e39335;
  border-color: #e39335;
}

.btn-outline-soc2:focus, .btn-outline-soc2.focus,
.btn-outline-soc2:not(:disabled):not(.disabled):active:focus, .btn-outline-soc2:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-soc2.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(227, 147, 53, 0.5);
}

.btn-outline-soc2.disabled, .btn-outline-soc2:disabled {
  color: #e39335;
  background-color: transparent;
}

.date-day-month {
  width: 70px;
}
.date-day {
  height: 53px;
  background-color: #fff;
  border: 1px #555 solid;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: none;
  text-align: center;
  position: relative;
}
.date {
  font-size: 25px;
  padding-top: 4px;
}
.day {
  font-size: 10px;
  bottom: 0px;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: auto;
}
.month {
  height: 24px;
  line-height: 24px;
  color: white;
  background-color: #F13E35;
  border: 1px #555 solid;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top: none;
  text-align: center;
  font-size: 15px;
}

.max-width-400 {
  max-width: 400px;
}

.max-width-600 {
  max-width: 600px;
}

.max-width-800 {
  max-width: 800px;
}

@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {
  
}